@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ACCESSIBLE CAROUSEL*/



.carousel {
max-width: 50rem;
}
    

.hidden {
display: none;
}


/* ACCESSIBILITY COMPONENTS */

.skip-to-main-link {
position: absolute;
left: -10000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;
clip: rect(1px, 1px, 1px, 1px);
}

.skip-to-main-link:focus {
display: block;
margin: 0.3125rem;
text-decoration: none;
position: static;
width: 12rem;
height: auto;
overflow: visible;
clip: auto;
left: auto;
top: auto;
padding: 0.3125rem;
}

.sr-only {
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin-left: 350px;
overflow: hidden;
clip: rect(0 0 0 0);
white-space: nowrap;
border: 0;
}

.custom-focus-style {
outline: 0.2rem solid #000000 !important;
box-shadow: 0rem 0rem 0rem .3rem #ffffff !important;
}


/*=====================================*/

html {
scroll-behavior: smooth;
}

body {
font-family: 'Poppins', sans-serif;
}

.hero {
min-height: 100vh;
background: 
url('../images/PIA01492~large.jpg') center/cover no-repeat;
display: flex;
align-items: center;
justify-content: center;
}

/*=====================================*/